In [ ]:
# Importing necessary libraries

import pandas as pd
import numpy as np

In [ ]:
# Checking for text encoding of the csv file
with open('FoodBalanceSheets_E_Africa_NOFLAG.csv') as f:
    print(f)

In [ ]:
# Reading the csv file with the encoding
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='cp1252')
df

In [ ]:
# Checking for missing values
df.isnull().sum()

In [ ]:
# Replace missing values with the mean values of columns Y2014, Y2015, Y2016, Y2017, Y2018
df.fillna(df.mean(), inplace=True)

In [ ]:
# Check to confirm the filling
df.isnull().sum()

In [ ]:
# Checking for duplicate values
df.duplicated().any()

In [ ]:
# Dividing the data into two(2) dataframes
fao_df1 = df.iloc[0:30471].reset_index(drop=True)
fao_df2 = df.iloc[30471:].reset_index(drop=True)

In [ ]:
# Check that the length of both dataframes sum to the expected length
assert len(df) == (len(fao_df1)) + (len(fao_df2))

In [ ]:
# Outer merge the two dataframes
df3 = pd.merge(fao_df1, fao_df2, how="outer")
df3

In [ ]:
# Import plotting library
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Take sample of the dataset
sample_df = df3.sample(n=50, random_state=4)
plt.figure(figsize=(7,4))
plt.xticks(rotation=90)
sns.barplot(data=df3, x=sample_df['Item'], y=sample_df['Y2014'])
plt.xlabel('Spread of Items in 2014')

In [ ]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']
data = pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])
print(data)

In [ ]:
df['Item'].unique()

In [ ]:
#df.groupby('Item').sum()
df.groupby('Element').sum()
#df.groupby('Area')['Element'].sum()

In [ ]:
mean_value = df['Y2015'].mean()
print(mean_value)

In [ ]:
df['Y2016'].isnull().sum()

In [ ]:
df.corr()

In [ ]:
df['Area'].nunique()

In [ ]:
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

In [ ]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [ ]:
y = [(2, 4), (7, 8), (1, 5, 9)]

x = y[1][-1]
print(x)